<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>

<body>

<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">

    <h2>Profesores</h2>
    <p>Los profesores que actualmente figuran en el sistema son las siguientes:</p>

    <div th:replace="fragments/tableProfessor"/>

	<div th:if="${#lists.isEmpty(professorsList)}"> No professors </div>
</div>

<footer th:replace="fragments/footer"></footer>

</body>
</html>
